/* Base solarized colors */
:root {
  --base04: #041c21;
  --base02: #014354; /* background */
  --base03: #005c72; /* background highlights */
  --base01: #dce5e8; /* comments / secondary content */
  --base00: #e2e6e8; /* body text default */
  --base0: #eaf2f3; /* body text in light themes / variable in dark themes */
  --base1: #93a1a1; /* comments / secondary content in light themes */
  --base2: #eee8d5; /* background in light themes */
  --base3: #eeebe1; /* background highlights in light themes */
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --text: var(--base0); /* Lighter text color for higher contrast */
  --background: var(
    --base04
  ); /* Ensure this is the color for the overall background */
  --link-color: #268bd2; /* Solarized blue for links */
  --visited-link-color: #6c71c4; /* Solarized violet for visited links */
}

body,
.App,
.App-header,
.repo-name,
.repo-description,
.repo-info {
  color: var(--text); /* Update text color */
}

body {
  background-color: var(
    --background
  ); /* This will set the background for the full page */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* General App Styling */
.App {
  font-family: "Arial", sans-serif;
  color: var(--base0);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; /* Add padding for smaller screens */
  background-color: var(--base03);
}

.App-header {
  background-color: var(--base02);
  color: var(--base2);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  flex-wrap: wrap; /* Allow header items to wrap on smaller screens */
}

/* Navigation Styles */
.App-nav ul {
  list-style: none;
  background-color: var(--blue);
  padding: 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap; /* Allow nav items to wrap on smaller screens */
}

.App-nav ul li {
  margin-right: 1rem;
  color: var(--base3);
  cursor: pointer;
}

/* Branding Styles */
.brand {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--base00);
}

/* Intro Section Styles */
.intro {
  text-align: center;
  background-color: var(--base02);
  padding: 2rem 0;
}

.intro h1 {
  margin: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--base1);
}

.intro .title {
  color: var(--base00);
  margin-bottom: 2rem;
}

/* Button Styles */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap; /* Wrap buttons on smaller screens */
}

.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--base3);
  border: 1px solid var(--base1); /* Adding border to make it visible against the background */
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: var(--red);
  color: var(--base3);
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--red);
  color: var(--red);
}

/* About Section Styles */
.about {
  padding: 2rem;
  color: var(--base0);
}

.about h2 {
  font-size: 2rem;
  color: var(--base1);
}

/* Skills Section Styles */
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.skill {
  margin-bottom: 1rem;
}

.skill label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--base1);
}

.skill progress {
  width: 100%;
  -webkit-appearance: none; /* Style non-standard properties */
  appearance: none;
  color: var(--blue); /* For Firefox */
}

.skill progress::-webkit-progress-bar {
  background-color: var(--base02);
}

.skill progress::-webkit-progress-value {
  background-color: var(--cyan);
}

.skill progress::-moz-progress-bar {
  background-color: var(--cyan);
}

/* GitHub Repos Section Styles */
#github-repos .repo {
  border: 1px solid var(--base02);
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--base02);
}

#github-repos .repo h2 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--base1);
}

#github-repos .repo p {
  font-size: 0.9rem;
  color: var(--base0);
}

#github-repos .repo span {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.8rem;
  color: var(--base01);
}

.repo {
  /* Update the background color if needed */
  background-color: var(
    --base02
  ); /* Slightly lighter than the page background for depth */
}

/* Style for unvisited links */
a:link {
  color: var(--link-color);
  text-decoration: none; /* Optional: removes underline from links */
}

/* Style for visited links */
a:visited {
  color: var(--visited-link-color);
}

/* Style for links when hovered */
a:hover {
  color: var(--link-color);
  text-decoration: underline; /* Optional: underlines link on hover */
}

/* Style for links when active (being clicked) */
a:active {
  color: var(--link-color);
}

/* Apply this class to elements that are specifically styled as links but are not 'a' tags */
.link-like {
  color: var(--link-color);
  cursor: pointer; /* Gives a hint that this is a clickable link */
}

/* When these elements are clicked, make the color slightly darker to indicate activity */
.link-like:active {
  color: darken(var(--link-color), 10%);
}

/* You can add a function to darken the color if you want to indicate activity */
/* This is a simple example using CSS custom properties and calc() */
:root {
  --link-darken-percentage: 10%;
  --link-active-color: calc(var(--link-color) - var(--link-darken-percentage));
}

.link-like:active {
  color: var(--link-active-color);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .App-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .App-nav ul li {
    margin-bottom: 0.5rem;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
  }

  .skills {
    flex-direction: column;
  }
}
